[Unit]
Description=TCx service
After=pigpiod.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /home/pi/piTCx/start.sh pi

[Install]
WantedBy=multi-user.target