[Unit]
Description=TCx service
After=pigpiod.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /home/<user>/piTCx/start.sh <user>

[Install]
WantedBy=multi-user.target